.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 800px;
    height: auto;
    background-color: lightgrey;
    margin: 0 auto;
}

.flex-item {
    background-color: cornflowerblue;
    width: 100px;
    height: 100px;

}
.odd{
    background-color: grey ;
}

.even{
    background-color: darkslategrey ;
}